<div class="main_wrapper">
    <div class="flexer">
        <div class="title lefty">ABRAR</div>
        <div class="title righty">
            <div>
                <mat-icon (click)="cart()" matBadge={{data.count}} matBadgeColor="warn" matBadgeSize="large" *ngIf="icon" matTooltip="Go to Cart">add_shopping_cart</mat-icon>
            </div>
            <div>
                <ul>
                    <li><img [matMenuTriggerFor]="menu" src="https://pdflinker.s3.ap-south-1.amazonaws.com/sal.jpg" width="40" height="40">
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="logout()">LOG OUT</button>
                            <button mat-menu-item>Item 2</button>
                          </mat-menu>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>