<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="menu">
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header></app-header>
    <p>
      <button mat-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>reorder</mat-icon>
      </button>
    </p>

    <!-- main content starts-->
    <div *ngIf="showTable">
      <div class="container" *ngFor="let card of fetchCartRes">
        <div class="info">
          <h1>Article News Card</h1>
          <span
            >Made with <i class="fa fa-heart animated infinite pulse"></i> by
            <a href="http://andy.design">Andy Tran</a> | Designed by
            <a href="http://justinkwak.com">JustinKwak</a></span
          >
        </div>
        <!-- Normal Demo-->
        <div class="column">
          <div class="demo-title">Normal</div>
          <!-- Post-->
          <div class="post-module">
            <!-- Thumbnail-->
            <div class="thumbnail">
              <div class="date">
                <div
                  class="day"
                  matTooltip="Remove from cart"
                  (click)="removeIt(card.tempId, card.productId)"
                >
                  X
                </div>
                <!-- <div class="month">Mar</div> -->
              </div>
              <img src="{{ card.imageUrl }}" />
            </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category">{{ card.title }}</div>
              <h1 class="title">{{ card.desc }}</h1>
              <h2 class="sub_title">The city that never sleeps.</h2>
              <p class="description">
                New York, the largest city in the U.S., is an architectural
                marvel with plenty of historic monuments, magnificent buildings
                and countless dazzling skyscrapers.
              </p>
              <div class="post-meta">
                <span class="timestamp"
                  ><i class="fa fa-clock-"></i> {{ card.email }}</span
                ><span class="comments"
                  ><i class="fa fa-comments"></i
                  ><a href="#">Price : {{ card.price }}</a></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
