.outerDiv {
    border: 2px solid green;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10vh;
}

.innerDiv {
    padding: 10px 50px;
}

.headline {
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: brown;
}

.btnn {
    text-align: center;
}

.bottom {
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
}