.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu {
    width: 22vw;
}

.menu-button {
    position: absolute;
    top: 12px;
    left: 23px;
    color: white;
}